---
import "@Styles/Flifo.css";
import "@Styles/Global.css";

import { Dialoger, Toaster } from "@lifo123/library";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const site = Astro.site ? new URL(Astro.site) : null;
const path = Astro.url?.pathname || "/";
const url = site ? new URL(path, site).href : null;
---

<script>
    const BASE_STORAGE_KEY =
        (window.location.pathname.split("/").filter(Boolean)[0] || "lifo/lib") +
        "-preferences";
    let savedPrefs = JSON.parse(localStorage.getItem(BASE_STORAGE_KEY) || "{}");

    const setDarkMode = (doc: Document) => {
        const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
        ).matches;

        const mode =
            savedPrefs.theme === "dark" || savedPrefs.theme === "light"
                ? savedPrefs.theme
                : prefersDark
                  ? "dark"
                  : "light";

        doc.documentElement.classList.toggle("dark", mode === "dark");
        doc.documentElement.classList.toggle("light", mode === "light");
        doc.documentElement.style.colorScheme = mode;

        localStorage.setItem(
            BASE_STORAGE_KEY,
            JSON.stringify({
                ...savedPrefs,
                theme: savedPrefs.theme || "system",
                isDark: mode === "dark",
            }),
        );
    };

    setDarkMode(document);

    document.addEventListener("astro:before-swap", (e) =>
        setDarkMode(e.newDocument),
    );
    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => setDarkMode(document));
</script>


<html lang="en" translate="no">
	<head>
		<title>{title}</title>
		<meta name="Author" content="Lifo123" />
		<meta name="description" content={description} />

		<meta charset="utf-8" />
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--Fonts -->

		<!-- OpenGraph Tags -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="Template" />
		<meta property="og:image" content="" />
		<meta property="og:image:alt" content="Template Image" />

		<!-- Twitter Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@Template" />
		<meta name="twitter:creator" content="@Lifo123" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="" />
		<meta name="twitter:image:alt" content="Template Image" />
		<!-- Styles -->
		<link rel="icon" href="./Flifo.svg" />
		<link rel="apple-touch-icon" href="./Flifo.svg" />
	</head>
	<body class="f-col ox-hidden">
		<Toaster client:only="react" />
		<Dialoger client:only="react" />
		<slot />
	</body>
</html>
